<div class="content-menu">
  <%= form_with url: new_note_path, method: :get, local: true do |f| %>
    <%= f.submit "ノート" %>
  <% end %>
</div>
<div class="content-menu">
  <%= form_with url: "#", local: true do |f| %>
    <%= f.submit "新規プレゼン" %>
  <% end %>
</div>
<div class="content-menu">
  <%= form_with url: "#", local: true do |f| %>
    <%= f.submit "編集プレゼン" %>
  <% end %>
</div>

