<div class="header">
  <%= render "diaries/header" %>
</div>
<div class="main-area-mypage">
  <div class="side-user-info">
    <%= render "trends/side_bar" %>
  </div>
  <div class="main-space-mine">
    <%= render "trends/main_space_menu" %>
    <div class="main-space-show">
      <%= render "show_main_comment" %>
      <%= render "show_main_presentation" %>
    </div>
  </div>
</div>