<div class="note-new-head">プレゼン</div>
<%= form_with model: @note, local: true do |f| %>
  <div class="note-form-box">カテゴリー
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"diary-category"}) %>
  </div>
  <div class="note-form-box">タイトル
  <%= f.text_field :title, class:"post-title" %>
  </div>
  <div class="note-form-box">本文(1000字以内)
  <%= f.text_area :text, class:"post-text"%>
  </div>
  <div class="note-form-button">
  <%= f.submit "次ページ", class:"button" %>
  </div>
<% end %>
