  <div class="show-note">
    <div class="show-title">
      <%= @content.content %>
    </div>
    <div class="show-page">
      <% unless @page == 1 %>
      <%= link_to "前のページ", presentation_path(@presentation.id, page: @page.to_i - 1) %>
      <% end %>
      ページ: <%= @page%>
      <% unless @page == @max_page %>
      <%= link_to "次のページ", presentation_path(@presentation.id, page: @page.to_i + 1) %>
      <% end %>
    </div>
    <div class="show-text", style="white-space:pre-wrap">
      <%= @content.text %>
    </div>
  </div>
  <% unless not user_signed_in? && @presentation.user_id != current_user.id %>
    <div class="comment-box">
      コメント
      <%= form_with model: [@presentation, @comment], class:"comment-form-area", local: true do |f| %>
        <%= f.text_field :comment, class:"comment-form" %>
        <%= f.submit "送信", class:"button" %>
      <% end %>
    </div>
  <% end %>

