<div class="show-box">
  <div class="show-note">
    <div class="show-title">
      <%= @content.content %>
    </div>
    <div class="show-page">
      <%= link_to "前のページ" %>
      ページ: <%= @page%>
      <%= link_to "次のページ" %>
    </div>
    <div class="show-text">
      <%= @content.text %>
    </div>
  </div>
  <div class="comment-box">
    コメント
    <%= form_with local: true do |f| %>
      <%= f.text_field :title, class:"comment-form" %>
      <%= f.submit "送信", class:"button" %>
    <% end %>
  </div>
</div>

