<div class="mypage-calendar-contents">
  <%= form_with model: @trend, url: trend_path(current_user.id), method: :get, local: true do |f| %>
    <%= f.collection_select(:category_id, Category.where(id: [1] + @trends.pluck(:category_id)), :id, :name, {}, {class:"diary-category"}) %>
    <%= f.submit "変更",class:"button"%>
  <% end %>
</div>
<div class="calendar-space">
  <%= month_calendar attribute: :date, events: @diaries do |date, diaries| %>
    <%= date.day %>

    <% diaries.each do |diary| %>
      <div class="diary-time-index">
        <%= diary.time %>時間
      </div>
    <% end %>
  <% end %>
<div>