<div class="header">
  <%= render "diaries/header" %>
</div>
<div class="trend-info">
  <div class="name-content">
    <p>名前</p>
    <%= @user.name %>
  </div>
  <p>カテゴリー</p>
    <%= link_to '追加', new_trend_path %>
    <%= link_to '削除'%>
  <div>
    <% @trends.each do |trend| %>
      <p class="category-box"><%= trend.category.name %></p>
    <% end %>
  </div>
</div>