<div class="show-box">
  <div class="show-comment-box">
    <div class="show-title">
      <%= @note.title %>
    </div>
    <h3>コメント内容</h3>
    <div class="show-comment">
      <%= @comment.comment %>
    </div>
  </div>
  <div class="answer-box">
    <%= form_with model: [@note, @answer], local: true do |f| %>
      解答項目
      <%= f.text_field :content, class:"answer-form"%>
      解答内容
      <%= f.text_area :text, class:"answer-form" %>
      <%= f.submit "解答する", class:"button" %>
      <%= f.hidden_field :note_comment_id, value: @comment.id %>
      <%= link_to "解答済み/コメント削除", note_note_comment_path(note_id: @note.id, id: @comment.id), method: :delete %>
    <% end %>
  </div>
</div>
